.top-bar {
    background-color: transparent !important;
    line-height: 0px !important;
    height:38px;
    overflow:hidden;
}

.top-bar.expanded .toggle-topbar a {
    color: white !important; 
}

.top-bar.expanded .title-area {
    background: #4c4c4e;
}

.top-bar-section ul {
    text-align: right;
    padding-right: 15px;
}

.top-bar-section ul li {
    background: #4c4c4e;
}

.top-bar .toggle-topbar.menu-icon {
    margin-top: -18px;
}

.title-area {
    padding-top: 43px;
}

.divider {
    border-top: solid 1px #5E5E60 !important;
}

.expanded {
    color:transparent !important;
}

.button {
    background-color: #8d172f; 
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: #4c4c4e; 
}
