@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

* {
    font-family: 'Lato', sans-serif !important;
    /*color: #4c4c4e !important;*/
}

html,body { 
    height: 100%; 
    margin: 0px; 
    padding: 0px; 
    overflow-x:hidden;
}

ul {
    list-style-type: none;  
}

a {
  color: white !important;
}
/**************/
/*** Header ***/

.nav-wrapper {
    padding: 2% 0 0 50px;
    overflow: auto;
}

nav {
}

#left-banner {
    background-color: #8d172f;
    height:38px;
    margin-bottom:5px;
}

#left-banner:after,#left-banner:before {
  height: 0;
  width: 0;
  content: "";
  display: block;
  position: relative;
}
#left-banner:before{
  border-bottom: 38px solid #8d172f;
  border-left: 20px solid transparent;
  left: -35px;
}
#left-banner:after{
    border-top: 38px solid #8d172f;
    border-right: 16px solid transparent;
    right: -31px;
    float: right;
    top: -38px;
}

#mid-banner {
    text-align: center;
}

#right-banner {
    background-color: #4c4c4e;
    margin-bottom: 5px;
}

#logo {
    max-width:60px;
}

#contact-link {
    float:right;
    padding-right:2%;
}

/**************/
/*** Footer ***/

footer {
  background-color: #4c4c4e;
  width:100%;
  height:80px;
  margin-top:100px;
}

/**************/
/*** View Control ***/

.view-control {
    padding-top: 5%;
}

.view-control-list {
     display: table;
     margin: 0 auto !important;
}

.view-link {
    color: #4c4c4e !important;
}

.view-link:hover {
    color: #8d172f !important;
}

.active {
    border-bottom: 1px solid #C9C9CA;
    border-width: thin;
    padding:2px;
}

.view-control-small {
    padding-right: 10%;
}

.view-link-small:hover {
    background-color: #4c4c4e !important;
}

/**************/
/*** Content ***/

#content {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

.content-body {
    padding-bottom:5%;
}

.content-body h2 {
    padding-top:10px;
    margin-bottom: 50px;
/*    padding-bottom: 15px;*/
    color: #4c4c4e;
    /*border-bottom: 1px solid #C9C9CA;*/
}

/**************/
/*** Views ***/

.content-box-right {
    padding-top: 3%;
    position: absolute;
    left:150%;
    width:80%;
    margin-left:-40%;
}

.content-box-middle {
    padding-top: 3%;
    position: absolute;
    left:50%;
    width:80%;
    margin-left:-40%;
}

.content-box-left {
    padding-top: 3%;
    position: absolute;
    left:-50%;
    width:80%;
    margin-left:-40%;
}

#work-experience {

}

#resume {
  height:600px;
  overflow: auto;
}

#projects {
    background-repeat: no-repeat;
    background-position: bottom;
}
/**************/
/*** Work Experience ***/

.profile {
    float:left;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(187, 187, 187, .75);
    -moz-box-shadow: 1px 1px 2px 1px rgba(187, 187, 187, .75);
    box-shadow: 1px 1px 2px 1px rgba(187, 187, 187, .75);
}

/**************/
/*** Resume ***/

#resume h1 {
  color: #8d172f;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 300;
}

#resume h5 {
  color: gray;
  font-size:12px;
}

#resume h4, h6{
    color: #4c4c4e;
    margin-top: 0;
    margin-bottom:0;
    font-size:14px;
}

#resume h6 {
  padding-bottom: 10%;
}

#resume a {
  font-size: 12px; 
}

.social:hover{
  color: #8d172f !important; 
}

#resume ul {
  margin-left: 0 !important;
}

#resume li {
  font-size:12px;
  margin-left:0 !important;
  margin-right:30px;
}

.resume-wrapper {
  padding-bottom: 10px;
}

#resume p {
  font-size:12px;
}

/**************/
/*** Projects ***/

#projects ul {
  margin-left:3% !important;
}

#projects h3 {
  color:white !important;
  font-size:18px;
  letter-spacing: 2px;
}

#projects p {
  color:#ebebeb !important;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
}

.project-box-container {
  padding:5px;
  float: left;
  display:inline-block;

}

.project-nav {
  max-width: 125px !important;
}

.project-box {
  padding: 10px 20px;
  height:130px !important;
  width:220px !important;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(187, 187, 187, .75);
  -moz-box-shadow: 1px 1px 2px 1px rgba(187, 187, 187, .75);
  box-shadow: 1px 1px 2px 1px rgba(187, 187, 187, .75);

}

.blue-box {
  background-color: #06425A;
}

.gray-box {
  background-color: #4c4c4e; 
}

.orange-box {
  background-color: #c2652e;
}

.red-box {
  background-color: #8d172f;
}

.light-blue-box {
  background-color: #19A4D9;
}

.green-box {
  background-color: #568D57;
}

.purple-box {
  background-color: #4b2b51;
}

.thumbnail {
  display:none;
  position:absolute;
}

.thumbnail-visible {
  position:absolute;
}

/**************/
/*** Project Page ***/

.project-page-content {
  width: 86%;
  max-width: 1024px;
  min-width: 360px;
  margin:auto;
  overflow: auto;
}

.back-button a, .back-button:visited {
  color: #8d172f !important;
}

.main-content p {
  font-size: 14px;
  font-weight:300;
  padding-bottom: 20px;
}

.back-button:hover {
  color: #4c4c4e;
}

.main-content {
  display: inline-block;  
  padding:50px 0 0 0;
}

.main-content h3 {
  color:#4c4c4e;
  padding-top: 25px;
}

.screenshot-main{
  -webkit-box-shadow: 1px 1px 2px 1px rgba(187, 187, 187, .75);
  -moz-box-shadow: 1px 1px 2px 1px rgba(187, 187, 187, .75);
  box-shadow: 1px 1px 2px 1px rgba(187, 187, 187, .75);
}

.main-content h2 {
  padding-top:15px;
}

.project-details {
  display: inline-block;
  padding: 105px 0 100px 0;
}

.project-details h6 {
  color:#4c4c4e;
  font-size: 14px;
  margin-bottom:2px;
}

.project-details li {
  color:#4c4c4e;
  font-size:12px;
  font-weight: 300;
  margin-top:3px;
}

.github-link {
  color: #8d172f !important;
  font-size:12px;
}

.project-details ul {
  margin-left:0px;
}

.main-content figure {
  padding-bottom: 30px;
}

.main-content figcaption {
  padding-top: 15px;
}

/**************/
/*** Tartan Tickets ***/

.erd {
  width: 100%;
  min-width:350px;
  float:left;
}

.wireframe {
  width:90%;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(187, 187, 187, .75);
  -moz-box-shadow: 1px 1px 2px 1px rgba(187, 187, 187, .75);
  box-shadow: 1px 1px 2px 1px rgba(187, 187, 187, .75);
  margin:0 auto;
}

#bikefest {
  width:90%;
}

/**************/
/*** Dine With DineX ***/

.dinewithdinex-splash {
  width:45%;
  margin:0 auto;
}

.dinewithdinex-iteration {
  overflow:auto;
}

#dinewithdinex-storyboard {
  width:80%;
}

.dinewithdinex-newsfeed-mobile {
  width:30%;
  float:left;
  min-width: 180px;
}

.dinewithdinex-newsfeed-desktop {
  width:45%;
  float:left;
}

/**************/
/*** Karate School ***/

.karateschool-erd {
  padding-bottom:60px;
}


/******************/
/* Resume */
/******************/


